@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: beige;
    background-color: #24252A;
    font-family: "Montserrat", sans-serif;
}

nav {
    background-color: #24252A;
    padding: 5px 20px;
}

ul {
    list-style-type: none;
}

a {
    color: #ffebcd;
    text-decoration: none;
    transition: all 0.4s ease 0s;
}

a:hover {
    color: #cc8500;
}

.menu li {
    font-size: 16px;
    padding: 15px 5px;
}

.menu li a {
    font-weight: 300;
    display: block;
}

.logo a {
    font-size: 20px;
}

.button.secondary {
    border-bottom: 1px solid #cc8500;
}


/* Mobile Menu */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    cursor: pointer;
    order: 1;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
}

.bars {
    background: #999;
    display: inline-block;
    position: relative;
    height: 2px;
    width: 24px;
}

.bars::before, .bars::after {
    background-color: #999;
    content:"";
    display: inline-block;
    height: 2px;
    width: 24px;
    position: absolute;
}
  
.bars::before {
    top: 6px;
}

.bars::after {
    top: -6px;
}


/* Tablet Menu */

@media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }

    .item.button {
        width: auto;
        order: 1;
        display: block;
    }

    .toggle {
        order: 2;
    }

    .button.secondary {
        border: 0;
    }

    .button a {
        padding: 7px 15px;
        background-color: #808000;
        border: 1px solid #4d4d00;
        border-radius: 6px;
        text-decoration: none;
    }

    .button.secondary a {
        color: #ffebcd;
        background-color: transparent;
    }

    .button.secondary a:hover {
        color: #cc8500;
    }

    .button a:hover {
        transition: all 0.3s ease 0s;
    }

    .button:not(.secondary) a:hover {
        background: #4d4d00;
        border-color: #333300;
    }
}

/* Desktop Menu */

@media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }

    .toggle {
        display: none;
    }

    .logo {
        order: 0;
    }

    .item {
        order: 1;
    }

    .button {
        order: 2;
    }

    .menu li {
        padding: 15px 10px;
    }

    .menu li.button {
        padding-right: 0;
    }

}

.container {
    padding-top: 150px;
    margin: auto;
    text-align: center;
}

footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 30px;
}